body {
background-image: url(/img/background.jpg);
width: 100%;
height: 100%;
font-family: 'Sniglet', sans-serif;
margin: 0 auto;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
}
header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
h1 {
font-size: 65px;
font-weight: 800;
color: rgb(100, 40, 40);
margin: 0;
}
.headerButtons {
display: flex;
flex-direction: row;
gap: 300px;
}
.score {
display: flex;
flex-direction: row;
gap: 30px;
font-size: 18px;
font-weight: 400;
color: rgb(100, 40, 40);
border: 1px solid rgb(100, 40, 40);
border-radius: 50px;
background-color:  rgb(233, 222, 201);
padding: 10px;
}

button {
padding: 10px 20px;
font-size: 20px;
font-weight: 400;
background-color: rgb(100, 40, 40);
border: 1px solid rgb(100, 40, 40);
border-radius: 50px;
color: rgb(233, 222, 201);
cursor: pointer;
}
button:hover{
background-color: rgb(233, 222, 201);
color: rgb(100, 40, 40);
}
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    border: 1px solid rgb(100, 40, 40);
    background-color: rgb(233, 222, 201);

    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(223, 237, 243, 0.1);
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.04);
}
.card-front {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 8px;
display: none;
}
.card-back {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 8px;
background-image: url('img/back_card.JPG');
background-size: cover;
background-position: center;
}
.card.flip .card-front {
    display: block;
}
.card.flip .card-back {
    display: none;
}
.modal-container{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}
.win-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 500px;
height: 500px;
padding: 40px;
background-color: rgb(233, 222, 201);
border: 1px solid rgb(100, 40, 40);
border-radius: 50px;
}
h2{
margin: 0;
font-size: 40px;
font-weight: 400;
text-align: center;
color: rgb(100, 40, 40);
}
.gif{
padding: 20px;
width: 200px;
height: 200px;
}
p{
font-size: 30px;
font-weight: 400;
color: rgb(100, 40, 40);
padding: 20px;
}
.modal-buttons{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.leader-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 500px;
height: 500px;
padding: 40px;
background-color: rgb(233, 222, 201);
border: 1px solid rgb(100, 40, 40);
border-radius: 50px;
}
.modal-btn{
width: 100%;
align-items: end;
margin-top: auto;
}
.leader-row{
color: rgb(100, 40, 40);
font-size: 30px;
gap: 5px;
}