body {
background-image: url(/img/background.jpg);
width: 100%;
height: 100%;
font-family: 'Sniglet', sans-serif;
margin: 0 auto;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}
/*
.check{
font-size: 100px;
font-weight: 800;
color: rgb(202, 57, 57);
margin: 0;
}